---
layout: default
---
  {% for post in site.posts %}
    {% assign mod = forloop.index | modulo: 2 %}
    {% if mod == 1 %}
     <article class="row">
       <img src="{{ site.baseurl }}{{ post.pic }}" alt="Urban music production" class="column">


      <span class="column">
       <h1>{{ post.title }}</h1>
        {{ post.content }}</span>
    </article>
     {% else %}
     <article class="row-reverse">


      <span class="column">
       <h1>{{ post.title }}</h1>
        {{ post.content }}</span>
          <img src="{{ site.baseurl }}{{ post.pic }}" alt="Urban music production" class="column">

    </article>
     {% endif %}
 {% endfor %}
