---
---
@import "reset";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400|IBM+Plex+Sans:300,500|IBM+Plex+Serif');
$ibmMono: 'IBM Plex Mono', sans-serif;
$ibmSans: 'IBM Plex Sans', sans-serif;
$ibmSerif: 'IBM Plex Serif', sans-serif;

html {
  font-size: 100%;
}

body {
  opacity: 1;
  transition: 0.7s opacity;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 32px;
  background: $white;
  color: $darkGold;
  font: 15px/1.8 $ibmSans;
  font-weight: 300;
  @include mobile {
    padding: 10%;
  }
}



body.fade {
  opacity: 0;
  transition: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 5% 0;
  @include mobile {
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
  }
  a.brand {
    font: 2em/1.0 $ibmMono;
    @include mobile {
      margin-bottom: 5%;
    }
  }
}


nav {
  a:not(:first-child) {
    margin-left: 8px;
  }
}

footer {
  padding: 24px 0;
  text-align: center;
}

.column a {
  font-family: $ibmMono;
}

iframe {
  padding: 2%;
}

p:last-child {
  margin-bottom: 0;
}

.row {
  align-items: center;
  display: flex;
  margin-bottom: 5%;
  @include mobile {
    flex-direction: column;
    margin: 0;
  }
}
.row-reverse {
  align-items: center;
  display: flex;
  margin-bottom: 5%;
  @include mobile {
    flex-direction: column-reverse;
    margin: 0;
  }
}

.row .column:last-child,
.row-reverse .column:first-child {
  width: 40%;
  box-sizing: border-box;
  padding: 0 7.5%;
  @include mobile {
    text-align: center;
    width: 100%;
    padding: 10% 5%;
  }
}

.row .column:first-child,
.row-reverse .column:last-child {
  width: 60%;
  @include mobile {
    text-align: center;
    width: 100%;
  }
}

.row-reverse span.column {
  padding-left: 0!important;
}

img.column {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
}
.footer {
  font: 14px/1.7 $ibmMono;
  margin: 0 auto;
  text-align: center;
  width: 75%;
  @include mobile {
    font: 14px/1.5 $ibmSans;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $blue;
  font-family: $ibmMono;
  line-height: 1.2;
  margin-bottom: 0.66em;
  padding: 0;
  @include mobile {
    line-height: 1.2;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font: 1.0em/1.0;
}

p {
  margin-bottom: 0.66em;
}

a {
  color: $blue;
  cursor: pointer;
  text-decoration: none;

  &:active,
  &:hover {
    color: $blue;
  }
}

ol,
ul {
  margin: 16px 0;
  padding-left: 32px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

ol ul,
ul ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.gmnoprint img {
  max-width: none;
}

@import "highlights";
@import "svg-icons";
