<!DOCTYPE html>
<html>
<head>
  <title>{{ site.name }}: {{ site.description }}{% if page.title %} — {{ page.title }}{% endif %}</title>

  {% include meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  {% seo %}
</head>

<body>
  <script>
    document.body.className = 'fade';
  </script>
  <div class="container">
    <div class="header">
      <div class="brand">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      </div>
      <nav class="menu">
        <a href="{{ site.baseurl }}/work">Work</a>
        <a href="{{ site.baseurl }}/contact">Contact</a>
        <a href="{{ site.baseurl }}/follow">Follow</a>
      </nav>
    </div>
  </div>

  <!-- <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/work">Work</a>
            <a href="{{ site.baseurl }}/contact">Contact</a>
            <a href="{{ site.baseurl }}/follow">Follow</a>
          </nav>
        </header>
      </div>
    </div> -->

  <div id="main" role="main" class="container">
    {{ content }}
  </div>

  <div class="wrapper-footer">
    <div class="container">
    </div>
  </div>

  {% include analytics.html %}
  <script>
    document.addEventListener("DOMContentLoaded", function(e) {
      document.body.className = '';
    });
  </script>
</body>

</html>
